// add btn container in MapForPlacingMarker

.add-btn-container {
  display: flex;
  justify-content: flex-start;
}

.small-map-add-story {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'center';
  margin: '40px 0';
}

.input-box{
  margin-top: 10px ;
}

