// add btn container in MapForPlacingMarker

.add-btn-container {
  // padding: 10px 0;
  display: flex;
  justify-content: flex-start;
}

.small-map-add-story {
  border: 1px solid blue;
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'center';
  margin: '20px 0';
}
