// add btn container in MapForPlacingMarker

.add-btn-container {
  // padding: 10px 0;
  display: flex;
  justify-content: flex-start;
}

.small-map-add-story {
  display: 'flex';
  flex-wrap: 'wrap';
  justify-content: 'center';
  margin: '40px 0';
}

.input-box{
  // border: 1px solid blue;
  margin-top: 10px ;
}