// Stories by region style
.search-view{
  display: grid;
  justify-content: center;
  align-items: center;

}
.section-container{
  display: grid;
  justify-content: center;
  align-items: center;
}
.cards-container{
display: flex;
flex-wrap: wrap;

}

.section-search{
  display: grid;
  max-width: 70vw;

}

.search-container{
  display: grid;
  justify-content: center;
  align-items: center;
  }

 .card{
  min-width: 200px;
 }
.card-content {
  min-height: 400px;
}
